<!-- <p>sender works!</p>
<tr *ngFor="let rec of userdata">
<p>{{rec.username}}</p>
<p>{{rec.customerID}}</p>
<p>{{rec.custName}}</p>
<p>{{rec.balance}}</p>
<p>{{rec.overDraft}}</p>

<button (click)= "navigate()"> Make A New Transaction </button> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div *ngFor="let rec of userdata">
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>{{rec.custName}}</h5>
                <p>{{rec.username}}</p>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Balance</h6>
                      <p class="text-muted">₹{{rec.balance}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>overDraft</h6>
                      <p class="text-muted">{{rec.overDraft}}</p>
                    </div>
                  </div>
                <button (click)= "navigate()" style="
                margin-left: 20%;
            "> Make A New Transaction </button>

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
